# OS-specific files
*.DS_Store
*.log
*.tmp

# Node.js specific
node_modules/
npm-debug.log

# Python specific
*.pyc
__pycache__/

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace

# Personal
*.pem
*.key
*.env

# Jupyter Notebooks
*.ipynb_checkpoints/

# Application and Build Tools
*.exe
*.dll
*.log
*.cache

# Ignore all files and directories starting with dot
.*
